<button type="button" class="quest-card" (click)="openDetails()" (keydown.enter)="openDetails()">
  <!-- Case à cocher -->
  <input
    type="checkbox"
    class="quest-checkbox"
    [checked]="quest.isDone"
    (change)="toggleStatus()"
    (click)="$event.stopPropagation()"
    aria-label="Marquer cette tâche comme terminée" />

  <!-- Titre de la quête -->
  <span class="quest-title">
    {{ quest.title }}
  </span>

  <img
    class="priority-icon"
    [src]="priorityImagePath"
    [alt]="priorityAltText"
    tabindex="0"
    (click)="$event.stopPropagation()"
    (keydown.enter)="$event.stopPropagation()"
    [class]="'priority-' + getPriorityKey(quest.priority).toLowerCase()" />
</button>
