.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;

  h1 {
    text-align: center;
    font-size: auto;
    font-weight: auto;
    font-variant: none;
  }
}
