<form [formGroup]="questForm" (ngSubmit)="onSubmit()" class="quest-form-group">
  <div class="flex gap-2 justify-content-start align-content-start">
    <!-- BOUTON RETOUR -->
    <button type="button" class="pi pi-chevron-left" (click)="onReturn()" aria-label="bouton retour"></button>
    <!-- TITRE -->
    <div class="title">
      <label for="title" class="visually-hidden">Titre</label>
      <textarea
        id="title"
        formControlName="title"
        pTextarea
        [autoResize]="true"
        [readonly]="!isEdit"
        [ngClass]="{
          'quest-readonly': !isEdit,
          'p-invalid': questForm.get('title')?.invalid && questForm.get('title')?.touched
        }"
        maxlength="100"
        placeholder="Titre de la quête"></textarea>
      @if (questForm.get('title')?.invalid && questForm.get('title')?.touched) {
      <small class="p-error block mt-1"> Le titre est obligatoire </small>
      }
    </div>
  </div>

  <!-- STATUT -->
  <div class="flex flex-column align-content-center mt-2">
    <div>
      <label for="status" class="visually-hidden">Statut</label>
      @if (isEdit) {
      <p-select
        id="status"
        formControlName="statusId"
        [options]="statusOptions ?? []"
        [disabled]="!isEdit"
        optionLabel="name"
        optionValue="id"
        [styleClass]="'custom-select'">
        <ng-template let-option pTemplate="item">
          <span>
            {{ option.name }}
          </span>
        </ng-template></p-select
      >} @else { <span class="font-bold" [style.color]="statusColor">{{ getStatusName(quest.statusId) }}</span>
      }
    </div>
  </div>

  @if (isInProgress) {
  <div class="quest-field">
    <label for="advancement" class="font-bold">Progression : </label>
    <p>{{ questForm.get('advancement')?.value }}%</p>
  </div>
  @if (isEdit) {
  <div class="w-full">
    <p-slider id="advancement" formControlName="advancement" (onChange)="onAdvancementChange($event)" [min]="0" [max]="100" [step]="5" />
  </div>
  } @else {
  <div class="w-full">
    <p-progressBar [value]="questForm.get('advancement')?.value" />
  </div>
  } }

  <div class="flex flex-column align-content-center">
    <!-- PRIORITE -->
    <div>
      <label for="priority" class="visually-hidden">Priorité</label>
      @if (isEdit) {
      <p-select
        id="priority"
        formControlName="priorityId"
        [options]="priorityOptions ?? []"
        [readonly]="!isEdit"
        optionLabel="name"
        optionValue="id"
        [styleClass]="'custom-select'">
        <ng-template let-option pTemplate="item">
          <span [class]="'priority-'">
            {{ option.name }}
          </span>
        </ng-template></p-select
      >
      } @else { <span class="font-bold" [style.color]="priorityColor">{{ getPriorityName(quest.priorityId) }}</span>
      }
    </div>
  </div>

  <!-- TEMPS ESTIME -->
  @if (isEdit || hasEstimatedTime) {
  <div class="quest-field py-2">
    <label for="estimatedTime" class="font-bold">Temps estimé : </label>
    @if (isEdit) {
    <p-calendar
      id="estimatedTime"
      formControlName="estimatedTime"
      [timeOnly]="true"
      hourFormat="24"
      [inputStyle]="{ width: '4.4rem' }"
      [stepMinute]="5"
      [showIcon]="false"
      [appendTo]="'body'"
      [baseZIndex]="1000"
      [showButtonBar]="false">
    </p-calendar>
    } @else {
    <span class="pr-4">
      {{ this.questForm.get('estimatedTime')?.value | time }}
    </span>
    }
  </div>
  }

  <!-- DETAILS -->
  @if (isEdit || hasDescription) {
  <div class="w-full flex flex-column gap-2 align-content-center justify-content-center mt-3">
    <label for="description" class="text-center font-bold">Details :</label>
    <textarea
      id="description"
      formControlName="description"
      pTextarea
      [autoResize]="true"
      [readonly]="!isEdit"
      [ngClass]="{ 'quest-readonly': !isEdit }"></textarea>
  </div>
  }

  <!-- BOUTONS -->
  @if (isEdit) {
  <div class="button-group">
    <button type="button" (click)="onCancel()" class="quest-button">ANNULER</button>
    <button type="submit" class="quest-button">VALIDER</button>
  </div>
  } @else {
  <div class="button-group">
    <button type="button" (click)="onDelete()" class="quest-button">SUPPRIMER</button>
    <button type="button" (click)="onEdit()" class="quest-button">EDITER</button>
  </div>
  }
</form>

<!-- Confirmation de supression -->
<p-confirmdialog #cd>
  <ng-template #headless let-message let-onAccept="onAccept" let-onReject="onReject">
    <div class="confirmation-dialog">
      <p>{{ message.message }}</p>
      <div class="flex items-center gap-2">
        <button type="button" class="cancel-confirmation-button" (click)="onReject()" styleClass="w-32">Annuler</button>
        <button type="button" class="accept-confirmation-button" (click)="onAccept()" styleClass="w-32">Supprimer</button>
      </div>
    </div>
  </ng-template>
</p-confirmdialog>
