.quest-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 4rem;
  padding-top: 1rem;
}

:host ::ng-deep {
  .p-tabmenu {
    .p-tabmenu-nav {
      background-color: var(--background-color);
      border: none;
      padding: 0.5rem;
      display: flex;
      justify-content: center;
      overflow: visible;
      width: 100%;
      gap: 0.5rem;
      align-items: stretch;

      .p-tabmenuitem {
        border: 1px solid var(--neon-glow-color);
        box-shadow: 0 0 5px var(--neon-glow-color);
        border-radius: 8px;
        border-bottom: none;
        flex: 1 1 auto;
        transition: all 0.2s ease;

        .p-menuitem-link {
          background-color: transparent;
          border: none;
          color: var(--text-color);
          text-align: center;
          white-space: normal;
          width: 100%;
        }
      }
      .p-tabmenuitem-active {
        background-color: var(--neon-glow-color);
        box-shadow:
          0 0 8px var(--neon-glow-color),
          0 0 16px var(--neon-glow-shadow);
      }
    }
  }

  .p-menuitem-link:focus,
  .p-menuitem-link:focus-visible,
  .p-menuitem:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}
