<div class="quest-list">
  <h1 class="page-title">Vue d'ensemble</h1>
  <div class="quest-tabs">
    <p-tabMenu 
      [model]="menuItems" 
      [activeItem]="activeItem" 
      (activeItemChange)="navigateOnMenu($event)"
      role="tablist"
      aria-label="Navigation entre les types de quêtes" />
  </div>
  @if (this.activeItem === this.menuItems[0]) {
  <app-quest-sorted-list [quests]="pendingQuests" [storageKey]="pendingSortStorageKey" />
  } @else if (this.activeItem === this.menuItems[1]) {
  <app-quest-sorted-list [quests]="completedQuests" [storageKey]="completedSortStorageKey" [sortModes]="completedSortModes" />
  }
</div>

<app-menu></app-menu>
