.quest-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 4rem;
}

.active-quests,
.completed-quests {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

:host ::ng-deep {
  .p-tabmenu {
    .p-tabmenu-nav {
      background-color: var(--background-color);
      border: none;
      padding: 0.5rem;
      display: flex;
      justify-content: center;
      overflow: visible;
      width: 100%;
      gap: 0.5rem;
      align-items: stretch;

      .p-tabmenuitem {
        box-shadow: var(--theme-color) 0 0 5px 2px;
        border-radius: 8px;
        border-bottom: none;
        flex: 1 1 auto;

        .p-menuitem-link {
          background-color: transparent;
          border: none;
          color: var(--text-color);
          text-align: center;
          white-space: normal;
          width: 100%;
        }
      }
      .p-tabmenuitem-active {
        background-color: var(--theme-color);
      }
    }
  }

  .p-menuitem-link:focus,
  .p-menuitem-link:focus-visible,
  .p-menuitem:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}
