:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  padding-right: 8px;
}

.hex_text_wrapper {
  pointer-events: none;
}

.hex_text_container {
  position: relative;
  text-align: center;
  font-size: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  pointer-events: none;
}

.hex_quest_title {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
  line-height: 1.2;
  padding-top: 18px;
  color: var(--text-color);
  font-weight: bold;
}

.quest-delete {
  position: absolute;
  top: 0px;
  right: 35%;
  background-color: black;
  color: #b2abf2;
  border: none;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  pointer-events: auto;
  padding-bottom: 2px;
  padding-left: 5px;
}

polygon {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.hex-polygon:focus {
  outline: none !important;
  stroke: var(--theme-color) !important;
  stroke-width: 4 !important;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}

.hex-polygon:hover {
  stroke: var(--theme-color);
  stroke-width: 2;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}

// Progress path styling
path {
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.2));
  transition: opacity 0.3s ease;
}

path:hover {
  opacity: 0.8;
}

::ng-deep .select-dialog {
  .p-dialog {
    width: 80%;
  }
  .p-dialog-header {
    display: block !important;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0.5rem;
  }
  .p-dialog-header-actions {
    display: none;
  }
  h3 {
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .p-dialog-content {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    box-shadow: none;
    border-radius: 0;
  }
  .quest-item {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    padding: 1rem;
    justify-content: space-between;
    cursor: pointer;
  }
  .priority-icon {
    cursor: pointer;
  }
  label {
    cursor: pointer;
  }
  .p-dialog-footer {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
  }
}
