@import 'primeicons/primeicons.css';

:root {
  --background-color: #151515;
  --text-color: #ffffff;
  --theme-color: #8a2be2;
  --light-theme-color: #b87fed;
  --dark-theme-color: #521987;
  --primary-priority-color: #ffb300;
  --secondary-priority-color: #e1bee7;
  --primary-priority-bg-color: #e28a2b;
  --secondary-priority-bg-color: #d3d3d3;
  --tertiary-priority-bg-color: #5e5b5b;
  --progress-bar-color: #5e309674;
  // --progress-bar-color: #b2abf2;
  font-family: 'Inter', sans-serif;
}

html,
body {
  height: 100vh;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

app-root {
  min-height: 100vh;
  width: 100%;
}

/** Style of all the PrimeNG inputs : */
.p-inputtext,
.p-dropdown,
.p-multiselect,
.p-select,
.p-calendar,
.p-textarea {
  background: var(--input-bg) !important;
  color: var(--input-text-color) !important;
}

.p-select {
  .p-select-label,
  .p-select-trigger {
    color: var(--input-text-color) !important;
  }
}

.p-inputtext::placeholder {
  color: #aaaaaa !important;
}

/** Style of PrimeNG modals : */
.p-dialog {
  border: none !important;

  .p-dialog-content {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    border: none !important;
    padding: 0.5rem !important;
    box-shadow: var(--theme-color) 0px 0px 5px 5px;
    border-radius: 0.5rem;
  }

  .p-dialog-header {
    display: none !important;
  }
}

/** Style of PrimeNG confirmation dialog (add classes to apply) : */
.confirmation-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  border-radius: 4px;
  background-color: var(--background-color);
  box-shadow: var(--theme-color) 0px 0px 5px 5px inset;
  color: var(--text-color);

  .cancel-confirmation-button,
  .accept-confirmation-button {
    border: 1px solid var(--theme-color);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    color: var(--text-color);
  }

  .cancel-confirmation-button {
    background-color: var(--background-color);
  }

  .accept-confirmation-button {
    background-color: var(--theme-color);
  }
}

/** To hide labels but keep them available for screen-readers : */
.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px, 1px, 1px, 1px);
  /*maybe deprecated but we need to support legacy browsers */
  clip-path: inset(50%);
  /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap;
  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
  font-variant: small-caps;
}

@keyframes pop-in {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  80% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.done-toast .p-toast {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.done-toast .p-toast-message {
  width: 100%;
  max-width: 300px;
  margin: auto;
  font-weight: bold;
  background-color: var(--theme-color);
  color: white;
  border-radius: 8px;
  animation: pop-in 300ms ease-out;

  .p-toast-message-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;

    .p-toast-summary,
    .p-toast-detail {
      text-align: center;
    }

    .p-toast-message-icon,
    .p-toast-icon-close,
    .p-button {
      display: none;
    }
  }
}

input.quest-checkbox[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid var(--theme-color);
  box-shadow: var(--theme-color) 0 0 5px;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  background-color: white;
  flex-shrink: 0;
  z-index: auto;

  &:checked {
    background-color: white !important;
    &:after {
      content: '';
      position: absolute;
      left: 6px;
      top: 1px;
      width: 8px;
      height: 12px;
      border: solid black;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }
}

.quest-card {
  // Reset all default button styling
  appearance: none;
  border: none;
  margin: 0;
  padding: 10px;
  background: none;
  font-family: inherit;
  font-size: inherit;
  text-align: left;
  width: 100%;
  color: inherit;
  // Custom styling
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: var(--theme-color) 0 0 5px 2px;
  border-radius: 8px;
  background-color: var(--background-color);
  cursor: pointer;
  transition: 0.2s;

  .priority-icon {
    width: 32px;
    height: 32px;
    padding: 4px;
    box-shadow: inset 0 0 5px black;
    background-color: var(--icon-bg-color, var(--theme-color));
    cursor: default;
    border-radius: 2px;
  }

  .priority-primary {
    --icon-bg-color: var(--primary-priority-bg-color);
  }

  .priority-secondary {
    --icon-bg-color: var(--secondary-priority-bg-color);
  }

  .priority-tertiary {
    --icon-bg-color: var(--tertiary-priority-bg-color);
  }
}

.p-select-panel {
  .p-select-option {
    &.priority-primary {
      color: var(--primary-priority-bg-color);
    }

    &.priority-secondary {
      color: var(--theme-color);
    }

    &.priority-tertiary {
      color: var(--tertiary-priority-bg-color);
    }
  }
}

.p-select.priority-primary .p-select-label {
  color: var(--primary-priority-bg-color) !important;
}

.p-select.priority-secondary .p-select-label {
  color: var(--theme-color) !important;
}

.p-select.priority-tertiary .p-select-label {
  color: var(--tertiary-priority-bg-color) !important;
}
